html {
    background-color:black;
    font-family:monospace;
}

body {
    width:450px;
    margin: 0 auto;
    background-color:#B88647;
    font-family:monospace;
}

#back {
    height:10%;
    font-size:150%;
    border-radius:10%;
    margin-left:3%;
    width:min-content;
    height:min-content;
    padding:3%;
    background-color:lightblue;
    color:black;
    text-decoration:none;
    margin-bottom:2%;
}


#shopFormat {
    height:100vh;
    background-color:#B88647;
    
}

.shoplayer {
    background-color:#B88647;
    height:33%;
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
    gap:10%;
}

.shoplayer > button {
    height:80%;
    background-color:#7fdb8e;
    width:50%;
    border-bottom:20px solid #298538;
    
}
button > p {
    font-size:150%;
    position:relative;
}
.itemTitle {
    font-size:auto;
    background-color:yellow;
    

}

